@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto+Serif:wght@100&display=swap');

html {
    height: 100%;
}

body {
    background-image: url("../images/aquacolor.png");
    height: 100%;
    color: #3f3f3f;
    font-family: 'Roboto Mono', monospace !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 3200px;
}


.phamily__index-heading {
    color: #2a2a2a;
    letter-spacing: 10px;
}