@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto+Serif:wght@100&display=swap');

:root {
    --font-color: #3f3f3f;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace !important;
}

#phamily__menu {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

#phamily__menu-text {
    margin: auto;
    width: 80%;
}

#phamily__menu h1 {
    letter-spacing: 10px;
}

#phamily__wedding-form-section {
    margin: auto;
    max-width: 100%;
    /* border-color: black; */
    /* border-radius: 2em; */
    /* height: 812px; */
    /* -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625); */
    /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625); */
    /* overflow: auto; */
    /* padding: 2em; */
}

#phamily__wedding-form {
    margin: auto;
    width: 80%;
}


#img-aquacolor {
    z-index: -1;
    position: absolute;
    left: -5rem;
    width: 1650px;
    opacity: 65%;
}

#img-flowers {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    max-width: 581px;
    min-width: 480px;
    opacity: 65%;
    top: -21rem;
    left: 50%;
    transform: translate(-50%);
}

.btn-primary {
    color: #fff;
    background-color: #a1b599;
    border-color: #a1b599;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #a1b599;
    border-color: #a1b599;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b4c9a3;
    border-color: #b4c9a3;
}

.btn.btn-primary.phamily__wedding-form-submit-button {
    display: block;
    width: 100%;
    background-color: #8a9981;
    border-color: #8a9981;
}

.phamily__wedding-button-group{
    align-items: center;
    display: flex;
    justify-content: center;
}

/*Radio Buttons*/
.phamily__wedding-form-radio-button label {
    display: block;
    margin-bottom: 5px;
}

.radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: grid;
    padding: 5px;
    max-width: 334px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.menu-wrapper .radio-container {
    grid-template-columns: 1fr;
}

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 45px;
    line-height: 43px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio]:checked + label {
    background: #b4c9a3;
    border: 1px solid rgb(180, 201, 163);
}
