@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto+Serif:wght@100&display=swap');
@font-face {
    font-family: 'rustlingSound';
    src: URL('../fonts/RustlingSound.ttf') format('truetype');
}

:root {
    --font-color: #3f3f3f;
    --input-green-color: #b4c9a3;
    --button-green-color: #a1b599;
    --submit-green-color: #8a9981;
}

/*standard config*/

html {
    height: 100%;
}

body {
    height: 100%;
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace !important;
}

#phamily__menu {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

#phamily__menu-text {
    margin: auto;
    width: 80%;
}

#phamily__menu h1 {
    font-family: 'rustlingSound', monospace !important;
    font-size: 3rem;
}

#phamily__wedding-form-section {
    margin: auto;
    max-width: 100%;
}

@media screen and (min-width: 750px) {
    #phamily__menu-text{
        max-width: 1000px;
    }

    #phamily__wedding-form-section {
        max-width: 1000px;
    }
}

#phamily__wedding-form {
    margin: auto;
    width: 80%;
}

/*images*/
#img-aquacolor {
    z-index: -1;
    position: absolute;
    left: -5rem;
    width: 1650px;
    opacity: 65%;
}

#img-flowers {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    max-width: 581px;
    min-width: 480px;
    opacity: 65%;
    top: -21rem;
    left: 50%;
    transform: translate(-50%);
}

/*button layout*/

.btn-primary {
    color: white;
    background-color: var(--button-green-color);
    border-color: var(--button-green-color);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: white;
    background-color: var(--button-green-color);
    border-color: var(--button-green-color);
    box-shadow: none;
}

.btn-primary:hover {
    color: white;
    background-color: var(--input-green-color);
    border-color: var(--input-green-color);
}

.btn.btn-primary.phamily__wedding-form-submit-button {
    display: block;
    width: 100%;
    background-color: var(--submit-green-color);
    border-color: var(--submit-green-color);
}

.phamily__wedding-button-group {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    width: 100%;
}

#email-formgroup{
    display: none;
}

#addPersonButton{
    justify-self: end;
    width: 120px;
    max-width: 100%;
}

#deletePersonButton{
    justify-self: start;
    width: 120px;
    max-width: 100%;
}

/*Radio Buttons*/
.phamily__wedding-form-radio-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.phamily__wedding-form-radio-button label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.radio-container {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: grid;
    padding: 5px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.menu-wrapper .radio-container {
    grid-template-columns: 1fr;
}

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 45px;
    line-height: 43px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio]:checked + label {
    background: var(--input-green-color);
    border: 1px solid var(--input-green-color);
}
